* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
#wrap {
  width: 100vw !important;
  height: 100vh !important;
}
#main {
  background-color: #fff !important;
}
